<link rel="stylesheet" type="text/css" href="css/customer.css" />

<div class="container-fluid">
    <div class="row justify-content-center">
      <% for(var i = 0; i < data.length; i++) {%>
        <div class="card col-3">
          <p>
            <%= "Email: " + data[i].email %>
            <i class="fa-solid fa-circle-xmark myBtn"></i>
          </p>
          <p>
            <%= " Password: " +data[i].password%>
            <i class="fa-solid fa-pencil myDesc"></i>
          </p>
          <p>
            <%= " User id: " +data[i].userid%>
          </p>
          <p>
            <%= " First Name: " +data[i].firstname%>
          </p>
          <p>
            <%= " Second Name: " +data[i].secondname%>
          </p>
          <p>
            <%= " City: " +data[i].city%>
          </p>
          <p>
            <%= " State: " +data[i].state%>
          </p>
          <p>
            <%= " Address: " +data[i].address%>
          </p>
          <% if(data[i].vip){ %>
            <span>Vip</span> 
          <%} %>
          <div class="modal myModal">
            <form action="/deleteuser" method="POST" class="myForm" autocomplete="off">
              <div class="modal-content">
                <span>Do you want to delete this User?</span>
                <input type="text" name="text" id="text" class="form-control deletetext" value="<%= data[i].email %>" readonly>
                <label for="modify" class="label">Modify text here</label>
                <input type="text" name="modify" id="modify" class="form-control modifytext" value="<%= data[i].testo %>">
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary close">Close</button>
                  <button type="submit" class="btn btn-danger deletebutton" id="delete">Delete</button>
                  <button type="submit" class="btn btn-warning modifybutton" id="modify">Modify</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      <% } %>
    </div>
</div>

<script type="text/javascript" src="js/customer.js"></script>
